main {
    
    background-color:  #ffffff;
    width: 80%;
    height: 50%;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 50px rgb(7, 17, 70);
    border-radius: 30px;
}

h1{
          
    color: rgb(0, 0, 0);
}


img{
    height: 200px;
    width: 200px;
}

p{
    font-size: 15px;
    color: rgb(0, 0, 0);
}


body{
    
    background-image: url(../image/fondo4.jpg);
    /* background-repeat: no-repeat; */
}


h2{
    color: rgb(0, 0, 0);
    font-size: medium;
    text-align: center;
}

h3{
    color: rgb(0, 0, 0);
    font-size: small;
    margin-bottom:auto ;
}

div img{
    height: 100px;
    width: 80px;
    padding:  10PX 5PX 5PX 1PX;
    left: auto;
    
}

div p{ 
    float: right;
    padding: 5PX 5PX 5PX 90PX;
    margin-top: -110PX;
    font-size: 12PX;
}

footer{
    background-color:  #ffffff;
    width: 50%;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 50px rgb(7, 17, 70);
    border-radius: 10px;
    
}

footer li{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    color: rgb(0, 0, 0);
}

a{
    color: rgb(0, 0, 0);
}
